@font-face {
	font-family: "GeosansLight"; 
	src: url(GeosansLight.ttf);
}
@font-face {
	font-family: "GeosansLight-Oblique"; 
	src: url(GeosansLight.ttf);
}
* {
	margin: 0;
	text-align: justify;
}

#header{
    background-color: #FFC869;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: sticky;
	top:0;
	z-index: 15;
	
	}


ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menu li {
    display: inline-block;
	position: relative;
	
}

#menu {
	width: 100%;
	background-color: #FFC869;
	text-align: right;
	z-index: 50;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 70px;
	line-height: 50px;
}


nav li a{
	font-family: 'GeosansLight';
	display: block;
	color: black;
	background-color: #FFC869;
	width: 100%;
	font-size: 20px;
	text-decoration: none;
	padding: 5px;
	margin-right: 20px;
	margin-top: 5px;
	text-decoration: none;
	
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

li a:hover {
	color: #FF3D22;
}

.container{
	font-family: 'GeosansLight';
	background-color: #fcd68a; /*#ffd07f;*/
	background-size:cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	text-align:center;
    margin-top:0px;
	padding-top:20px;
	padding-bottom:64px;
	padding-left: 30px;
	padding-right: 30px;
	height: auto;
	

    -webkit-box-shadow: 24px 4px 30px 23px rgba(255,193,94,1);
    -moz-box-shadow: 24px 4px 30px 23px rgba(255,193,94,1);
     box-shadow: 24px 4px 30px 23px rgba(255,193,94,1);
}


h1{ 
	margin-left: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: 'GeosansLight';
	font-size: 40px;
	font-weight: bold;	
	color: black;
	float: left;
}

h2{
	font-family: 'GeosansLight';
	text-shadow: 2px 2px 10px #FFAE00;
	font-size:50px;
	font-weight:bold;
	letter-spacing:5px;
	text-align:center;	
	color: #262626;
	margin-top: 3.2%;
	padding-bottom: 1.8%;
}

h3{
	font-family: 'GeosansLight';
	text-shadow:1px 1px #FFAE00;
	font-size:45px;
	font-weight:bold;
	letter-spacing:5px;
	text-align:center;	
	color: #262626;
	margin-top: 1%;
	margin-bottom: 2%;
}


footer{
	height : auto;
	text-align:center;
	margin-bottom: 30px;
}

footer p {
	font-family: 'GeosansLight';
	font-size: 18px;
	font-weight: bold;	
	color: #262626;
	text-align: center;
}
footer li {
    font-family: 'GeosansLight';
	font-size: 15px;
	font-weight: bold;	
	color: #262626;
	text-align: center;
	margin-bottom: 0.7%;
}

p {
	font-family: 'GeosansLight';
	font-size: 16px;	
	color: #264040;
}
#intro p{
	text-align:center;
	font-size: 19px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0%;
	margin-bottom: 0%;
}

body{
		background-color: #FFC869;
		position:relative;
		background-size:cover;
		overflow-x: hidden;
	}
	
.info a{
	text-decoration:underline;
	color:#FFAE00;
	
}

.info a:link {
	color: #324187
	
}

.info a:visited {
	color: #661d16;
	
}

img{
border: 2px solid #000000;
}

.info li {
	font-size: 1.2em;
}


.buttons{
    display:inline-block;
    padding:0.20em 1.0em;
    border:0.1em solid #000000;
    background-color: transparent;
    margin:0 0.2em 0.2em 0;
    border-radius:0.8em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'GeosansLight-Oblique';
    font-weight:800;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
	font-size: 1.5em;
}

.buttons:hover{
    color:#FF3D22; 
    border-color:#FF3D22; 
}

@media all and (max-width:30em){
    .buttons{
        display:block;
        margin:0.4em auto;
    }
}

hr { 
  height: 30px; 
  border-style: solid; 
  border-color: #FFA200; 
  border-width: 10px 0 0 0; 
  border-radius: 20px; 
  margin-top: 2%;
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #FFA200; 
  border-width: 10px 0 0 0; 
  border-radius: 20px; 
}

h4{
	font-family: 'GeosansLight';
	text-shadow: 2px 2px #FFAE00;
	font-size:40px;
	font-weight:bold;
	letter-spacing:5px;
	text-align:center;	
	color: #262626;
	margin-top: 2%;
	margin-bottom: 2%;
}
h5{
	font-family: 'GeosansLight';
	text-shadow: 2px 2px #FFAE00;
	font-size:30px;
	font-weight:bold;
	letter-spacing:5px;
	text-align:center;	
	color: #262626;
	margin-top: 2%;
	margin-bottom: 2%;
}

.strisce {
	height                : 10em;
	background-repeat     : no-repeat;
	background-attachment : fixed;
	background-position   : top center;
	background-size       : cover;
}

#striscia1 {
	background-image: url('4.jpg');
}
#striscia2 {
	background-image: url('1.png');
}
#striscia3 {
	background-image: url('3.gif');
}
#striscia4 {
	background-image: url('2.jpg');
}

.container > form {
    display: table; 
    margin: 0 auto;
}

.info {
	margin-left: auto;
    margin-right: auto;
    width: 60%;
}

td{
    font-size: 1.2em;
}

.info form input {
	margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.immaginesx {
    margin-left:20%;
}
table.verticale td {
    width: 60%;
}
table.orizzontale td {
    width: 68%;    
}
#imgfronte47,#descretro47 {
    margin-top:12%;
}
#descfronte47{
    margin-left:20%;
}
.descrizionedxretro {
    max-height: 560px;
    overflow-y: scroll;
}